.header-main{
    background-color: $gray-200;
}

#mainNavigation {
    background-color: $gray-200;
}

.footer-main,.footer-bottom
{
    background: $background-dark-sb;
}

.container
{
    max-width: 1200px;
}
