@import "fonts/bfont";

.header-main{
    background-color: $gray-200;
}

#mainNavigation {
    background-color: $gray-200;
}
.is-act-home .breadcrumb.container {
  display: none;
}

.footer-main,.footer-bottom
{
    background: $background-dark-sb;
}

.container
{
    max-width: 1400px;
}

.container-main {
  padding: 0px;
}

.category-navigation {
       &.level-0 > {
        .category-navigation-entry {
            border-bottom: none;
        }
    }
}
