/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

$border-radius: 15px;
$background-dark-sb: #474747;
$enable-shadows	: true;
$enable-gradients : true;
$sw-font-family-base: 'TT Mussels', Helvetica, Arial, sans-serif;
$sw-headings-font-family: 'TT Mussels', Helvetica, Arial, sans-serif;

$my-asset-path: '#{$sw-asset-theme-url}/bundles/themebattrongmbh/assets' !default;