{% sw_extends '@Storefront/storefront/base.html.twig' %}
{#
{% block base_main %}
 Using asset function to display our custom asset

    <img src="{{ asset('bundles/themebattrongmbh/sb24-mainLogo.png', 'asset') }}">
         <h1>hello</h1>
    {{ parent() }}
{% endblock %}#}
