<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Choose tax id for displaying tax banner</title>
        <component name="sw-entity-multi-select">
            <name>taxEntity</name>
            <entity>tax</entity>
            <label>Select taxID</label>
        </component>
    </card>
</config>
