<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Tax Information Settings</title>

        <input-field type="bool">
            <name>taxInfoAlert</name>
            <label>Enable Tax Info Alert</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>taxEntity</name>
            <entity>tax</entity>
            <label>Select Tax ID</label>
        </component>

   <!--     <input-field type="text">
            <name>taxInfoText</name>
            <label>Tax Info Text</label>
            <translatable>true</translatable>
        </input-field>-->

        <component name="sw-snippet-field">
            <name>taxInfoText</name>
            <label>Tax Info Text on above BuyBox</label>
            <snippet>ThemeBattronGmbh.config.taxInfoText</snippet>
        </component>
        <component name="sw-snippet-field">
            <name>taxInfoTextDetail</name>
            <label>Tax Info Text in BuyBox</label>
            <snippet>ThemeBattronGmbh.config.taxInfoTextDetail</snippet>
        </component>

        <component name="sw-entity-single-select">
            <name>taxInfoCmsPage</name>
            <entity>cms_page</entity>
            <label>Select CMS Page for Tax Info</label>
        </component>
    </card>
</config>
