
@font-face {
  font-family: 'TT Mussels';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Regular.woff') format('woff'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Regular.woff2') format('woff2'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Regular.ttf') format('truetype'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Regular.eot') format('eot');
}

@font-face {
  font-family: 'TT Mussels';
  font-weight: 500;
  font-style: normal;
  src: url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Medium.woff') format('woff'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Medium.woff2') format('woff2'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Medium.ttf') format('truetype'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Medium.eot') format('eot');
}

@font-face {
  font-family: 'TT Mussels';
  font-weight: bold;
  font-style: normal;
  src: url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Bold.woff') format('woff'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Bold.woff2') format('woff2'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Bold.ttf') format('truetype'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Bold.eot') format('eot');
}

@font-face {
  font-family: 'TT Mussels';
  font-weight: 800;
  font-style: normal;
  src: url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-ExtraBold.woff') format('woff'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-ExtraBold.woff2') format('woff2'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-ExtraBold.ttf') format('truetype'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-ExtraBold.eot') format('eot');
}

@font-face {
  font-family: 'TT Mussels';
  font-weight: normal;
  font-style: italic;
  src: url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Italic.woff') format('woff'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Italic.woff2') format('woff2'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Italic.ttf') format('truetype'),
  url('#{$sw-asset-theme-url}/bundles/themebattrongmbh/font/TTMussels-Italic.eot') format('eot');
}