{% sw_extends "@Storefront/storefront/component/product/listing.html.twig" %}
    {% block element_product_listing_col %}
        {% for product in searchResult %}
            <div class="cms-listing-col col-12">
                {% block element_product_listing_box %}
                  {{ parent() }}
                {% endblock %}
            </div>
        {% endfor %}
    {% endblock %}
